In [3]:
import mysql.connector   #  for  connecting the  data  for  google collab
Collecting mysql.connector # for  downlaod the library  connector

IndentationError: unexpected indent (4173119428.py, line 2)

In [ ]:
conn=mysql.connector.connect(host="database-1.codzmntflx6t.ap-northeast-1.rds.amazonaws.com",user="admin",password="12e3243t5",data="ipl") #  connecticting the code 
# database-1 mera azure ka database hai  aur  ipl mere  local machie ka databse hai   # safely code karna paddta hai

In [4]:
delivery=pd.read_sql_query("SELECT * FROM  delivery",conn)
player=pd.read_sql_query("SELECT * FROM player",conn)
player_captain=pd.read_sql_query("SELECT * FROM  player_captain",conn)

NameError: name 'pd' is not defined

In [ ]:
player_captain

In [ ]:
# step  1 completed  #  oltp  se data  uthakar hum le aaye like  database-1  hamara oltp data and  ipl hamara  olap data  for  data  analaysis  data

In [ ]:
player_captain

In [5]:
player.merge(player_caption,on="Player_id") # basic measn  hum  check kar rhe hai  voh  kis match  mai  player tha ya nhi

NameError: name 'player' is not defined

In [ ]:
temp_df=player.merge(player_captain,on="Player_Id")[["Player_Name","Match_Id","Is_Captain]]  # KAUN SA PLAYER MATCH  KHELA AUR  CAPTAIN THA YA NHI

In [ ]:
delivery.merge(temp_df,left_on=["ID","batter"],right_on=["match_Id","Player_Name"],how="left").fillna(0) # 0 means  captain nhi tha

In [6]:
delivery.groupby(["ID","batter"])["batsman_run"].sum()  # her particular match mai her batsman  ne kitne run banaye

NameError: name 'delivery' is not defined

In [ ]:
delivery.groupby(["ID","batter"])["batsman_run"].sum().reset_index()  # her particular match mai her batsman  ne kitne run banaye 
# reset index means  data frame  ke  form mai aa jayega

In [ ]:
delivery.groupby(["ID","batter"])["batsman_run"].count().reset_index()  #  count ball  nikalega  kitna count aaya

In [ ]:
delivery.query("batsman_run==4").groupby(["ID","batter"])["batsman_run"].sum().reset_index()  # her batsman  ne  her match mai kitne 4 runs maare
delivery.query("batsman_run==6").groupby(["ID","batter"])["batsman_run"].sum().reset_index()  # her batsman  ne  her match mai kitne 6 runs maare

In [ ]:
runs.merge(balls,on=["ID","batter",suffixes=("_runs","_balls")] # suffix means  give the  good name for

In [ ]:
final_df=runs.merge(balls,on=["ID","batter",suffixes=("_runs","_balls")].merge(fours,on=["ID","batter"],how="left").merge(sixes,on=["ID","batter"],how="left")

In [ ]:
final_df.fillna(0,inplace=True) #   na value   replace  ho jayengi   0 se 
final_df

In [ ]:
final_df.rename(columns={
    "batsman_run_runs":"runs",
    "batsman _run_balls":"balls",
    "batsman_run_x":"fours",
    "batsman_run_y":"sixes"
    
},inplace=True)  # name change ho jayeva aur  permannetly save  ho  jayevga 
#

In [ ]:
round(final_df["runs"]/final_df["balls"])*100,2) #  find  out the  strike rate  through the balls and  runs

In [ ]:
final_df["sr"]=round((final_df["runs"]/final_df["balls"])*100,2)  # save the cdata  strike  rate  columns

In [ ]:
final_df # complete ready second  step  data  acording the  requirement

In [ ]:
final_df.merge(
    temp_df,
    left_on=["ID", "Batter"],
    right_on=["Match_ID", "Player_Name"],
    how="left'
).drop(columns=["Player_Name", "Match_id"]).fillna(0)
#  # find out the captain name yeh way correct hai

In [ ]:
#  final_df=final_df.merge(balls,on=["ID","batter"]).rename(columns={"batsman_runs":"balls"})

In [ ]:
def dream11(row):
    score=0

    score=score+row["runs"]+row["fours"]+2*row["sixes"]0  # bonus  calculation check the website link   sare  point formula 
   
    if row["runs"]>=100:
      score=score+ 16
    elif row["runs"]>=50 and row["runs"] <100:
        score=score+8
    elif row["runs"]>=30 and row["runs"] <100:
        score=score+4
    elif row["runs"] ==0:  
        score=score-2

    if row["balls"]>=10:  # calculate the strike rate acoording the page  point   page mai mention  point ki vajah se  sara logic lagaya hai 
        if row["sr"]>170:
            score=score+6
        elif row["sr"]>150 and row["sr"] <=170:
            score=score +4
        elif ros["str"]>130 and row["sr"] <=150:
            score=score+2
        elif row["sr"] >60 and  row["sr"] <=70:
            score=score-2
         elif row["sr"] >50 and  row["sr"] <=60:
            score=score-4
        elif row["sr"]<=50:
            score=score-6
        else:
            pass
    if row["Is_Captian"] =="1":  #  iska matlab  ki  captin  hoga toh uska scoree double hota hai  
        score=score*2
             
    return  score

In [ ]:
final_df.apply(dream11,axis=1)

In [ ]:
final_df.sort_value("score",ascending=False)  # hum check kar rhe  hai kisne sabse jayda score kiya hai  strikerate ke basis  par aur captain bhi tha

In [ ]:
export_df=final_df.sort_values("scores",ascending="False")[["ID","batter","score"]] #  issue  humne defin kar liya kau kaun se column chahien

In [ ]:
# `export_df isko hi hum apne database mai dalenge

In [1]:
! pip install   pymsql  for connecting the  database

Access is denied.

In [ ]:
mycursor=conn.cursor()

In [ ]:
mycursor.execute("create database dream11")
conn.commit()

In [2]:
import pymysql
from  sqlalchemy import create_engine

ModuleNotFoundError: No module named 'pymysql'

In [ ]:
engine=create_engine("mysql+pymysql://user:password@url/database")
# {root}:{passwword}@{url}/{database}
df.to_sql("table_name",con=engine)
export_df.to_sql("batter_points",con=engine) #  give the   table_name  batter_points  and  export to_sql

In [ ]:
import mysql.connector.connect(host="amazon url",user="admin",password="test",database="dream11")
mycursor=conn.cursor()  #     ab  dream11 par data scientiest karega

In [ ]:
import pandas as pd 
pd.read_sql_query(SELECT * FROM batter_points",conn)

In [4]:
 #####  note  point   ### pura procees  upar sab analysis karke  fir humne  ish niche code ke through  export kar diya new  database mai  

engine=create_engine("mysql+pymysql://user:password@url/database")
# {root}:{passwword}@{url}/{database}
df.to_sql("table_name",con=engine)
export_df.to_sql("batter_points",con=engine) #  give the   table_name  batter_points  and  export to_sql

#### uske baad hamari databse team aayi usne hamare durse databse ko connect kiya mere niche vale code se 

import mysql.connector.connect(host="amazon url",user="admin",password="test",database="dream11")
mycursor=conn.cursor()  #     ab  dream11 par data scientiest karega 
#  yha se connect karke voh kaam start  karenge

NameError: name 'create_engine' is not defined

In [ ]:
#  ab pura procees hum  data ko lekar aaye jo  actual  mai azure cloud par rakha hua  tha  fir data transform  kiya   aur ek  new database mai dala
# aur ush  new daatabase kaun baat akr rha hai datascientiests ab jo models bananae hao voh banaye  aur isse kuch  bhi rpblem nhi  hogi  yeh  sab  olap par kaam kart6e hai